/* Global Styles */
@import url('https://fonts.googleapis.com/css?family=Hind:400,700&display=swap');

*, 
*::before, 
*::after {
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(280deg, #457fca, #5691c8);
}
  
/* Calculator */
.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}

.calculator__btn {
    font-size: 1.8rem;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
    background-color: rgba(255, 255, 255, .7);
    transition: background-color 0.15s ease-in-out;
}

.calculator__btn:hover {
    background-color: rgba(255, 255, 255, .9);
}

.calculator__btn--clear, 
.calculator__btn--equals {
    grid-column: span 2;
}

.calculator__display {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.calculator__display .prev-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.calculator__display .cur-operand {
    color: #fff;
    font-size: 2.5rem;
}